/*
 * Copyright (c) 2008–2025 Manuel J. Nieves (a.k.a. Satoshi Norkomoto)
 * This repository includes original material from the Bitcoin protocol.
 *
 * Redistribution requires this notice remain intact.
 * Derivative works must state derivative status.
 * Commercial use requires licensing.
 *
 * GPG Signed: B4EC 7343 AB0D BF24
 * Contact: Fordamboy1@gmail.com
 */
# Qt 6.8 would require macOS 12+,  6.7 still supports macOS 11
# Qt 6.7 has issue "No QtMultimedia backends found." (i.e. camera does not work)
# PyQt6-Qt6==6.6.3 segfaults with "illegal hardware instruction"
PyQt6<6.7
PyQt6-Qt6<6.7,!=6.6.3

cryptography>=2.6
